@use 'sass:math';
@import './breakpoints';

/*
screen types:
    mobile,
    to-tablet
    tablet,
    to-desktop
    desktop,
*/
@mixin media($_screen) {
  @if $_screen ==mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }

  @else if $_screen ==desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}

@mixin h1_mobile {
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 56px;
}

@mixin h1_desktop {
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 54px;
  letter-spacing: 0;
  line-height: 80px;
}

@mixin h2 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 72px;
}

@mixin h3 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
}

@mixin h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

@mixin button {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}

@mixin button-link {
  font-family: 'Poppins';
  font-weight: 600;
  text-decoration: underline;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}

@mixin subtitle {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}

@mixin body1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

@mixin body2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

@mixin body3 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

@mixin body4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}