$_main_bg_color: #e5bb4a; // колір бекграунда
$_main_text_color: #000000; // колір текста
$_hight_green_swiper: #007670; // кнопки свайпера і активна пагінація + одна хвиля в футері
$_yellow_transp_review: rgba(255, 195, 0, 0.6); // Ревью секція картки бг
$_green_transp_features: rgba(0, 118, 112, 0.6); // feature секція картки бг
$_light_text_color: rgba(0, 118, 112, 0.6); // білий текст та і впринципі білий
