@include media(mobile) {
  .faq {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: $color_green_dark;
  }

  .faq-title {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: $color_black;
  }

}

@include media(desktop) {

  .faq {
    height: 800px;
  }

  .accordion-container {
    position: sticky;
  }

  .container-faq {
    position: relative;
  }

  .green-rectangle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-42%);
    border-radius: 0 120px 120px 0;
    width: 1038px;
    height: 701px;
    background-color: $color_fill_green;
  }

  .yellow-rectangle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-37%);
    border-radius: 96px 0 0 96px;
    width: 844px;
    height: 520px;
    background-color: $color_orange_light;
  }

  .faq-title {
    position: sticky;
    font-size: 48px;
    margin-bottom: 64px;
  }

  .ac-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px;
    width: 288px;
    height: 80px;
  }


  .ac .ac-trigger {
    @include h2;
    width: 90% !important;
    padding: 0px !important;
    padding-right: 25px !important;
    color: $color_braun_text !important;
  }

  .ac .ac-trigger::after {
    content: url('/img/downbtn.svg') !important;
    fill: $color_black !important;
    width: 32px !important;
    height: 32px !important;
    transition: 1s !important;
    transform: none !important;
    top: -6px !important;
    line-height: 0px !important;

  }

  .ac.is-active>.ac-header .ac-trigger::after {
    rotate: 180deg !important;
  }

  .ac {
    background-color: $color_fill !important;
    border: 2px solid $color_orange_stroke !important;
    border-radius: 24px;
  }

  .ac-text {
    @include subtitle;
    padding: 0 26px 32px !important;
  }

  .ac-header {
    width: 1056px;
    justify-content: center;
  }

  .ac .ac-trigger {
    width: 95% !important;
    font-size: 20px !important;
    font-weight: 600 !important;
  }
}