@include media(mobile) {
    .faq {
        background: linear-gradient(180deg, #97d846 0%, #7cb633 100%);
    }

    .ac-header {
        display: flex;
        justify-content: start;
        align-items: center;
        border: 2px solid $color_orange_stroke;
        border-radius: 24px;
        padding: 16px;
        width: 288px;
        height: 80px;
        background-color: $color_fill;
    }


    .ac .ac-trigger {
        font-family: var(--font-family) !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 1.71 !important;
        width: 90% !important;
        padding: 16px !important;
        padding-right: 25px !important;
        color: $color_braun_text !important;
    }

    .ac .ac-trigger::after {
        content: url('/img/downbtn.svg') !important;
        fill: $color_black !important;
    }

    .ac.is-active {
        border: 2px solid $color_orange_stroke !important;
        border-radius: 24px !important;
        padding: 16px !important;
        width: 288px !important;
        height: 138px !important;
        background-color: $color_fill !important;
    }

    .ac {
        border: none !important;
        background-color: transparent !important;
    }


}