@include media(mobile) {
  .features {
    padding: 56px 0px;
    background-color: $color_green_dark;
  }

  .features-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 32px;
    color: $color_black;

  }

  .features-image {
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;



  }

  .features-text-wrapper {
    display: flex;
    width: 288px;
    height: 144px;
    padding: 16px 18px;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    border: 2px solid $color_orange_stroke;
    background-color: $color_fill;
    box-shadow: inset 0 0 0 17px $color_fill;
    margin-top: 16px;

  }

  .features-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $color_black;
    text-align: center;
    background-color: $color_orange_light;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 78px;
    display: flex;
    justify-content: center;
  }

  .features-subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: $color_black;
    display: flex;
    width: 208px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    border: 2px solid $color_orange_stroke;
    background-color: $color_orange;
    margin: -32px auto 0;
    color: $color_braun_text;
    @include body4;
    padding-left: 21.6px;

  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .features-wrapper {
    display: flex;
    width: 256px;
    padding: 8px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: $color_orange_light;
  }
}


@include media(desktop) {
  .features {
    position: relative;
    height: 664px;
    padding-top: 96px;


    .container {
      position: relative;
    }




    .features-title {
      position: sticky;
      font-size: 48px;
      margin-bottom: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px;
      color: $color_black;
    }

    .features-item {

      .features-image {
        display: none;
      }
    }

    .features-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: center;
      justify-content: center;
      width: 1056px;
      margin-left: -6.2px;
    }

    .features-text-wrapper {
      display: flex;
      height: 200px;
      padding: 16px 18px;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      border-radius: 32px;
      width: 192px;

    }

    .features-wrapper {
      display: flex;
      width: 156px;
      padding: 8px 4px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 16px;
      background: $color_orange_light;
      width: 156px;
      height: 126px;
    }

    .features-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: $color_black;
      text-align: center;
      background-color: $color_orange_light;
      border-radius: 16px;
      justify-content: center;
      align-items: center;
      height: 110px;
      display: flex;
      justify-content: center;
    }

    .wrapper-text {
      display: flex;
      width: 156px;
      padding: 8px 4px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 16px;
      background: $color_orange_light;
      width: 156px;
      height: 148px;
    }

    .features-subtitle {
      display: flex;
      width: 160px;
      height: 64px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 16px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: $color_braun_text;

    }

    .features-subtitle {
      color: $color_braun;
      position: relative;


      .lightning {
        position: absolute;
        left: 90%;
        top: 71%;
        width: 58px;
        height: 56px;
        display: block;

        img {
          max-width: unset;
          height: unset;
        }
      }
    }

    .wrapper-green {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 0 120px 120px 0;
      width: 952px;
      height: 513px;
      background-color: $color_fill_green;
    }

    .wrapper-yellow {
      position: absolute;
      top: 48%;
      right: 0;
      transform: translateY(-50%);
      border-radius: 96px 0 0 96px;
      width: 664px;
      height: 368px;
      background-color: $color_orange_light;
    }
  }
}