.features {
  padding: 56px 0px;
  background-color: $color_green_dark;
}

.features-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 32px;
  color: $color_black;

}

.features-image {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-left: 16px;


}

.features-text-wrapper {
  display: flex;
  width: 288px;
  height: 128px;
  padding: 16px 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  border: 2px solid $color_orange_stroke;
  background-color: $color_fill;
  box-shadow: inset 0 0 0 17px $color_fill;
  margin-left: 16px;
  margin-top: 16px;

}

.features-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $color_black;
  text-align: center;
  background-color: $color_orange_light;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 78px;
  display: flex;
  justify-content: center;
}

.features-subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: $color_black;
  display: flex;
  width: 208px;
  height: 64px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  border: 2px solid $color_orange_stroke;
  background-color: $color_orange;
  margin: -32px auto 0;
  color: $color_braun_text;
  @include body4;
  padding-left: calc(10px + 24.2px)
}