@include media(mobile) {
  .header {

    .logo {
      // display: block;
      // max-width: 100%;
      width: 32px;
      // height: 100%;
    }

    .nav-menu {
      background-color: $color_braun;
      display: flex;
      position: fixed;
      left: 16px;
      right: 16px;
      padding: 16px;
      justify-content: space-between;
      align-items: center;
      border-radius: 0px 0px 16px 16px;
      z-index: 99;
      // max-width: 288px;
      height: 64px;
      transition: color 0.3s ease, transform 0.3s ease;




      &:has(#burger-toggle:checked) {

        border-radius: 0px 0px 0px 16px;
        right: 0;
      }



      #burger-toggle {
        display: none;

        &:not(:checked) {
          +.nav-toggle .nav-close {
            display: none;

          }

          ~.nav-list {
            display: none;
          }
        }



        &:checked {
          +.nav-toggle .nav-hamburger {
            display: none;
          }
        }
      }

      .nav-menu {
        display: none;
      }

      .nav-list {
        display: flex;
        flex-direction: column;
        gap: 14px;
        position: absolute;
        top: 100%;
        height: calc(100dvh - 100%);
        right: 0;
        padding: 16px;
        background-color: $color_fill_green;
        color: $color_black;

        &.nav-open {
          display: flex;
        }

        .nav-link {
          @include body4;
        }
      }
    }
  }
}

// @include media(desktop) {
//   .header {



//     .logo {
//       width: 56px;
//     }

//     .nav-menu {
//       background-color: $color_braun;
//       display: flex;
//       position: fixed;
//       right: 72px;
//       padding: 24px;
//       justify-content: space-between;
//       align-items: center;
//       border-radius: 0px 0px 24px 24px;
//       z-index: 99;
//       max-width: 1056px;
//       width: calc(100% - 144px);
//       transform: translateX(-50%);
//       left: 50%;
//       height: 88px;

//       #burger-toggle,
//       .nav-toggle {
//         display: none;
//       }

//       .nav-list {
//         display: flex !important;
//         position: static;
//         flex-direction: row;
//         gap: 86px;
//         color: $color_white;
//         background-color: transparent;
//         height: 100%;

//         .nav-item {
//           min-width: 74px;



//           &:nth-child(n + 7) {
//             display: none;
//           }
//         }

//         .nav-link {
//           @include button;

//         }

//       }
//     }
//   }
// }

//
@include media(desktop) {
  .header {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;

    .logo {
      width: 56px;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      padding: 24px;
      height: 96px;
      background-color: $color_braun;
      border-radius: 0px 0px 24px 24px;
      z-index: 99;
      max-width: 1056px;
      width: 100%;
      box-sizing: border-box;
      background-color: $color_braun;


      #burger-toggle,
      .nav-toggle {
        display: none;
      }

      .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 86px;
        color: $color_white;
        background-color: transparent;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        .nav-item {
          min-width: 74px;

          &:nth-child(n + 7) {
            display: none;
          }
        }

        .nav-link {
          @include button;
          text-decoration: none;
        }
      }
    }
  }
}