@include media(mobile) {

  .wrapper-img-title {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }

  .wrapper-stars {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }


  .image-slide {
    width: 224px;
    height: 200px;
    border-radius: 32px;
    padding: 16px;
    background-color: $color_fill_green;
  }

  .reviews-title {
    margin-bottom: 32px;
  }

  .reviews-section {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .img-title {
    font-weight: 700;
    font-size: 14px;
  }
}





@include media(desktop) {
  .reviews-section {
    scroll-margin-top: 100px;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #fff0c8;
  }

  .reviews-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 64px;
    line-height: 1.5;
    color: $color_black;
  }

  .img-swiper {
    position: relative;
  }

  .img-box {
    width: 64px;
    height: 64px;
  }

  .wrapper-img-title {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }

  .wrapper-stars {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .img-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    color: $color_black;
  }

  .img-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    color: $color_black;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-slide {
    height: 154px;
    border-radius: 32px;
    padding: 32px;
    background-color: $color_fill_green;
  }

  .image-slide {
    width: 275px;
    height: 154px;
    border-radius: 32px;
    padding: 32px;
    background-color: $color_fill_green;
  }

  .prev-btn,
  .next-btn {
    color: $color_black !important;
    width: 32px !important;
    height: 32px !important;
  }
}


@include media(mobile) {
  .image-slide {
    height: 168px;
    border-radius: 32px;
    padding: 16px;
    background-color: $color_fill_green;
  }

  .reviews-title {
    margin-bottom: 32px;
  }

  .reviews-section {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .img-title {
    font-weight: 700;
    font-size: 14px;
  }
}