<section class="about-us">
  <div class="container">
    <h2 class="about-us-title">About Us</h2>
    <ul class="about-us-list">
      <li class="about-item">
        <div class="about-us-item">
          <div class="about-us-text-container">
            <p class="about-us-text">
              Sir: Match 3 Puzzle Adventure is a thrilling match-3 puzzle game with an epic storyline. Join Sir on a
              quest
              through
              magical lands, solving puzzles and uncovering secrets along the way. With colorful gems, challenging
              puzzles, and
              strategic gameplay, every level offers a new adventure. Perfect for puzzle enthusiasts who love action,
              strategy, and
              mystery!
            </p>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>