<section class="about-us">
  <div class="container">
    <h2 class="about-us-title">About Us</h2>

    <div class="about-us-item">

      <p class="about-us-text">
        Sir: Match 3 Puzzle Adventure is a thrilling match-3 puzzle game with an epic storyline. Join Sir on a
        quest
        through
        magical lands, solving puzzles and uncovering secrets along the way. With colorful gems, challenging
        puzzles, and
        strategic gameplay, every level offers a new adventure. Perfect for puzzle enthusiasts who love action,
        strategy, and
        mystery!
      </p>
    </div>

    <h4 class="about-us-subtitle">Description <img src="../img/lightning.svg" alt="lightning icon"></i>
    </h4>
    <img src="../img/victory.svg" alt="image" class="about-us-image" />
    <img src="../img/image1.png" alt="image" class="about-us-image1" />
    <div class="png-container">
      <div class="svg-icons">
        <img src="../img/about-us/icon1.svg" alt="Icon 1" class="svg-icon">
        <img src="../img/about-us/icon2.svg" alt="Icon 2" class="svg-icon">
        <img src="../img/about-us/icon3.svg" alt="Icon 3" class="svg-icon">
        <img src="../img/about-us/icon4.svg" alt="Icon 4" class="svg-icon">
        <img src="../img/about-us/icon5.svg" alt="Icon 5" class="svg-icon">
        <img src="../img/about-us/icon6.svg" alt="Icon 6" class="svg-icon">
        <img src="../img/about-us/icon7.svg" alt="Icon 7" class="svg-icon">
      </div>
    </div>


  </div>
</section>