<section class="faq">
    <div class="container">
        <h2>FAQ</h2>
        <div class="accordion-container">
            <div class="ac">
                <h2 class="ac-header">
                    <button type="button" class="ac-trigger ac-trigger-text">How do I play Sir: Match 3 Puzzle
                        Adventure?</button>
                </h2>
                <div class="ac-panel">
                    <p class="ac-text">Download the game from the Play Store and start solving puzzles by matching gems
                        to advance through the story.</p>
                </div>
            </div>

            <div class="ac">
                <h2 class="ac-header">
                    <button type="button" class="ac-trigger">Is the game free?</button>
                </h2>
                <div class="ac-panel">
                    <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="ac">
                <h2 class="ac-header">
                    <button type="button" class="ac-trigger">Can I play offline?</button>
                </h2>
                <div class="ac-panel">
                    <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="ac">
                <h2 class="ac-header">
                    <button type="button" class="ac-trigger">Are there rewards for completing levels?</button>
                </h2>
                <div class="ac-panel">
                    <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="ac">
                <h2 class="ac-header">
                    <button type="button" class="ac-trigger">How often are new levels added?</button>
                </h2>
                <div class="ac-panel">
                    <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>