<section class="faq" id="faq">
  <div class="container container-faq">
    <div class="green-rectangle"></div>
    <div class="yellow-rectangle"></div>
    <h2 class="faq-title">FAQ</h2>
    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger ac-trigger-text">How do I play Sir: Match 3 Puzzle
            Adventure?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Download the game from the Play Store and start solving puzzles by matching gems
            to advance through the story.</p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Is the game free?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Yes, the game is free to play, with optional in-app purchases for boosters and extra moves.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Can I play offline?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Yes, Sir: Match 3 Puzzle Adventure can be played without an internet connection.</p>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Are there rewards for completing levels?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Yes! Earn rewards like coins, boosters, and new characters as you progress through the
            game.</p>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">How often are new levels added?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">New levels, characters, and adventures are regularly added to keep the game fresh.</p>
        </div>
      </div>
    </div>
  </div>
</section>