<section class="features" id="features">
  <div class="container">
    <h2 class="features-title">Features</h2>
  </div>
  <ul class="features-list">
    <li class="features-item">
      <img src="/img/svg/asset_24.svg" alt="image" class="features-image" class="features-image" />
      <div class="features-text-wrapper">
        <p class="features-text">
          Solve challenging puzzles by matching colorful gems and unlocking hidden treasures</p>
      </div>
      <h4 class="features-subtitle">Exciting Match-3 Gameplay <i class="lightning"> <img src="/img/features/diamond.svg"
            alt="diamond icon">
        </i></h4>
    </li>
    <li class="features-item">
      <img src="/img/svg/asset_24.svg" alt="image" class="features-image" class="features-image" />
      <div class="features-text-wrapper">
        <p class="features-text">
          Journey through different worlds, battling evil forces, and rescuing characters in need</p>
      </div>
      <h4 class="features-subtitle">Epic Adventure<i class="lightning"> <img src="./img/features/flag.svg"
            alt="diamond icon">
        </i></h4>
    </li>
    <li class="features-item">
      <img src="/img/svg/asset_24.svg" alt="image" class="features-image" class="features-image" />
      <div class="features-text-wrapper">
        <p class="features-text">
          Use magical boosters and special abilities to overcome tough levels and puzzles</p>
      </div>
      <h4 class="features-subtitle">Powerful Boosters<i class="lightning"> <img src="/img/features/eliksir.svg"
            alt="diamond icon">
        </i></h4>
    </li>
    <li class="features-item">
      <img src="/img/svg/asset_24.svg" alt="image" class="features-image" class="features-image" />
      <div class="features-text-wrapper">
        <p class="features-text">
          Experience hundreds of levels, each with unique challenges and obstacles to keep you engaged</p>
      </div>
      <h4 class="features-subtitle">Challenging Levels <i class="lightning"> <img src="/img/features/bomb.svg"
            alt="diamond icon">
        </i></h4>
    </li>
    <li class="features-item">
      <img src="/img/svg/asset_24.svg" alt="image" class="features-image" class="features-image" />
      <div class="features-text-wrapper">
        <p class="features-text">
          Embark on an epic quest to uncover ancient mysteries while solving puzzles and defeating powerful enemies</p>
      </div>
      <h4 class="features-subtitle">Powerful Boosters<i class="lightning"> <img src="/img/features/cherep.svg"
            alt="diamond icon">
        </i></h4>
    </li>
  </ul>
</section>