<section class="features">
  <div class="container">
    <h2 class="features-title">Features</h2>
  </div>

  <ul class="features-list">
    <li class="features-item">
      <img src="/img/svg/asset_24.svg" alt="image" class="features-image" class="features-image" />
      <div class="features-text-wrapper">
        <p class="features-text">
          Solve challenging puzzles by matching colorful gems and unlocking hidden treasures</p>
      </div>
      <h4 class="features-subtitle">Exciting Match-3 Gameplay <i class="lightning"> <img src="/img/features/diamond.svg"
            alt="diamond icon">
        </i></h4>
    </li>
  </ul>
</section>