<header class="header">
  <nav class="nav">
    <a href="./index.html" class="logo">
      <img src="../img/logo.svg" alt="logo" />
    </a>

    <input type="checkbox"  id="burger-toggle">

    <button class="nav-toggle">
      <img src="./img/hamburger.svg"  class="nav-hamburger" lt="hamburger" />
      <img src="./img/close.svg"  class="nav-close" alt="close" />
    </button>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="./home.html" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="./features.html" class="nav-link">Features</a>
      </li>

      <li class="nav-item">
        <a href="./about-us.html" class="nav-link">About Us</a>
      </li>

      <li class="nav-item">
        <a href="./benefits.html" class="nav-link">Benefits</a>
      </li>

      <li class="nav-item">
        <a href="./reviews.html" class="nav-link">Reviews</a>
      </li>

      <li class="nav-item">
        <a href="./faq.html" class="nav-link">FAQ</a>
      </li>

      <li class="nav-item">
        <a href="./terms-and-conditions.html" class="nav-link">Terms & Conditions</a>
      </li>

      <li class="nav-item">
        <a href="./privacy-policy.html" class="nav-link">Privacy Policy</a>
      </li>
    </ul>

  </nav>
</header>
