<section id="home" class="block-home">
  <div class="container">
    <h1 class="title">Sir: Match 3 Puzzle Adventure <i class="lightning"><img src="../img/lightning.svg"
          alt="lightning icon"></i></h1>
    <p class="slogan">Join the Adventure, Solve Puzzles, and Uncover Mysteries!</p>
    <a href="https://play.google.com/store/apps/details?id=com.elephantgames.sml&hl=uk" class="button" target="_blank"
      rel="noopener noreferrer">
      <img src="../img/google-play.svg" alt="google play icon">
      Google Play
    </a>

    <img class="game-picture" src="../img/home.png" alt="game picture">
  </div>
</section>