<section class="reviews-section" id="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <swiper-container class="mySwiper" space-between="20" history-key="slide" pagination="true" navigation="true">
            <swiper-slide data-history=" 1">
                <div class="slide">
                    <img src="./img/avatar1.png" alt="avatar1">
                    <h3 class="slider-title">PuzzleMaster</h3>
                    <p>"A fantastic match-3 adventure! The levels are creative and the story keeps me hooked."</p>
                </div>
            </swiper-slide>
            <swiper-slide data-history="Slide 2">
                <div class="slide">
                    <img src="./img/avatar2.png" alt="avatar2">
                    <h3 class="slider-title">GameFanatic</h3>
                    <p>"Great puzzle game with an amazing story. The graphics and animations are stunning!"</p>
                </div>
            </swiper-slide>
            <swiper-slide data-history="3">
                <div class="slide">
                    <img src="./img/avatar3.png" alt="avatar3">
                    <h3 class="slider-title">GemMatchPro</h3>
                    <p>"Challenging puzzles and fun gameplay. I can’t put it down!"</p>
                </div>
            </swiper-slide>
            <swiper-slide data-history="Slide 4">
                <div class="slide">
                    <img src="./img/avatar4.png" alt="avatar4">
                    <h3 class="slider-title">AdventureLover</h3>
                    <p>"Love the adventure aspect combined with the match-3 gameplay. So much fun!"</p>
                </div>
            </swiper-slide>
            <swiper-slide data-history="5">
                <div class="slide">
                    <img src="./img/avatar5.png" alt="avatar5">
                    <h3 class="slider-title">MysterySolver</h3>
                    <p>"Exciting and challenging! Every level feels like a new adventure."</p>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</section>