.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 24px 0;

  @include media(desktop) {
    padding: 48px 0;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 48px;
  }
}

.title {

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1em;


  @include media(desktop) {
    font-size: 36px;
  }
}